@model ForgotPassword

@{
    Layout = "_SignInRegister";
    ViewData["Title"] = "Forgot password";
}

<div class="m-auto row text-light mb-5 border-1 rounded-3 bg-black w-75 position-relative">
    <div class="col-sm-6 px-5">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show alert-login" role="alert">
                <i class="fa-solid fa-check"></i>
                @TempData["Message"]
            </div>
        }
        <div class="my-3 text-center">
            <h2 class="">Reset Password😊</h2>
            <p>Forgot your password? No worries enter your registered email. We'll send an email.</p>
        </div>
        <form class="mb-4" asp-action="ForgotPassword" asp-controller="Account" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-4">
                <label class="form-label" asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input type="text" class="form-control" asp-for="Email" />
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-warning">Next</button>
            </div>
        </form>
        <a class=" text-decoration-none text-warning" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-arrow-left fa-xl me-2 "></i>Back</a>
    </div>
    <div class="col-sm-6 p-0">
        <img class="img-fluid h-100 w-100" src="~/images/Home/homebanner.jpg" style="object-fit:cover" />
    </div>
</div>