@model ResetPassword
@{
    Layout = "_SignInRegister";
    ViewData["Title"] = "Reset password";
}
<div class="m-auto row text-light mb-5 border-1 rounded-3 bg-black w-75 position-relative">
    <div class="col-sm-6 px-5">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show alert-login" role="alert">
                <i class="fa-solid fa-check"></i>
                @TempData["Message"]
            </div>
        }
        <div class="my-3 text-center">
            <h2 class="">Reset Password</h2>
            <p>Please enter your credentials</p>
        </div>
        <form class="mb-4" asp-action="ResetPassword" asp-controller="Account" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="UserId" />
            <div class="mb-4">
                <label class="form-label" asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" class="form-control" placeholder="eg. user101" asp-for="Password" />
            </div>
            <div class="mb-4">
                <label class="form-label" for="password_login" asp-for="ConfirmPassword">Password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <input type="password" class="form-control" id="password_login" asp-for="ConfirmPassword" />
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-warning">Reset</button>
            </div>
        </form>
        <div class="mb-3">
            <a class="text-decoration-none text-warning" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-arrow-left fa-xl me-2 "></i>Back</a>
        </div>
    </div>
    <div class="col-sm-6 p-0">
        <img class="img-fluid h-100 w-100" src="~/images/Home/homebanner.jpg" style="object-fit:cover" />
    </div>
</div>
