<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlickFinder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FlickFinder.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  box-shadow px-5">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FlickFinder</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <partial name="_SearchBar" class="flex-grow-1" />
                    <ul class="navbar-nav nav-pills justify-content-end ms-5 ps-5 pe-3">
                        <li class="nav-item active">
                            <a class="nav-link text-light" asp-area="" asp-controller="WatchList" asp-action="Index">WatchList</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">New Releases</a>
                        </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Favourites</a>
                        </li>*@
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img profile-user="@User.Identity.Name" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end bg-black text-small text-light shadow" aria-labelledby="dropdownUser1">
                                <li class="dropdown-header fs-5">@User.Identity.Name</li>
                                @*<li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>*@
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <input class="dropdown-item text-light" type="submit" value="Sign out" />
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a class="btn btn-warning" asp-controller="Account" asp-action="LogIn">Sign In</a>
                        </div>
                    }

                </div>
            </div>
        </nav>
    </header>
    <section class="banner-section">
        <img src="~/images/Home/homebanner.jpg" alt="banner-image" />
    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FlickFinder
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
