

<div class="row">
    <form class="d-flex mx-auto mt-4 col-md-6" asp-action="Index" method="post">
        <div class="input-group">
            <input class="form-control me-2" name="searchInput" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" asp-route-id="avatar" asp-controller="Movies"  type="submit" id="searchSubmit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>