@model IEnumerable<Movie>
@{

}
<h4 class="my-5">My Watchlist</h4>
<div class="row mt-5 d-flex justify-content-center">
    @foreach (var movie in Model)
    {
        @await Html.PartialAsync("_MovieCard", movie);
    }
</div>
