/* Colors
    #2D2727
    #413543
    #8F43EE
    #F0EB8D
*/




html {
    font-size: 14px;
    color: black;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    
}

body {
    margin-bottom: 60px;
    font-family: "Motserrat", Arial, Helvetica, sans-serif;
    color: white;
}

/*Navigation bar*/

header{
    background-color: black;
}

.navbar-brand {
    color: !important #F0EB8D;
}
.banner-section img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}




/* Movie Cards*/
.cardHover:hover {
    opacity: 0.75;
}

.cardHover, .details-movie-card {
    background-color: black;
}