@model MoviesHomePageViewModel

@{
    ViewData["Title"] = "Home";
    ViewData["Id"] = 0;
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="btn-close"
                data-bs-dismiss="alert" aria-label="Close">
        </button>
        @TempData["Message"]
    </div>
}

<div class="mb-5">
    <h3 class="mt-5">Now Playing</h3>
    @await Html.PartialAsync("_MovieCarousel", Model.NowPlaying,  new ViewDataDictionary(ViewData) { { "Id1", ViewData["Id"] = "c1"}})
</div>
<div class="mb-5">
    <h3 class="mt-5">Trending Top 20</h3>
    @await Html.PartialAsync("_MovieCarousel", Model.Trending, new ViewDataDictionary(ViewData) { { "Id2", ViewData["Id"] = "c2"}})
</div>
<div class="mb-5">
    <h3 class="mt-5 ">Top Rated</h3>
    @await Html.PartialAsync("_MovieCarousel", Model.TopRated,  new ViewDataDictionary(ViewData) { { "Id3", ViewData["Id"] = "c3"}})
</div>
