@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Search Movies";
}
@*<partial name="_SearchBar"></partial>*@
<h4 class="mt-5">Your search results: </h4>
<div class="row mt-5 d-flex justify-content-center">
    @{
        if (Model != null)
        {
            foreach (var movie in Model)
            {
                @await Html.PartialAsync("_MovieCard", movie);
            }
        }
    }
</div>


