@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Search Movies";
}
<div class="my-5 d-flex flex-row">
    <a class="btn btn-warning" asp-action="Index" asp-controller="Home"><i class="fa-solid fa-backward pe-2"></i>Back to home</a>
    <h4 class="ms-3 pt-1">Your search results: </h4>
</div>
<div class="row mt-5 d-flex justify-content-center">
    @{
        if (Model != null)
        {
            foreach (var movie in Model)
            {
                @await Html.PartialAsync("_MovieCard", movie);
            }
        }
    }
</div>


