@{
    ViewData["Title"] = "Movie not found";
}
<div class="my-5">
    <a class="btn btn-warning" asp-action="Index" asp-controller="Home">Back to home</a>
</div>
<div class="text-center text-light mt-5">
    <h4 class="mb-3">Movie "@(ViewBag.Search)" you looking for, could not be found💀</h4>
    <img src="https://media.tenor.com/bEAkTBq4A7UAAAAd/awkward-dog.gif" alt="notfound meme" width="300" height="400" style="object-fit: cover"/>
</div>

