@{
    ViewData["Title"] = "Movie not found";
}
<partial name="_SearchBar"></partial>
<div class="text-center text-dark mt-3">
    <h4 class="mb-3">Movie you looking for, not found💀</h4>
    <img src="https://media.tenor.com/bEAkTBq4A7UAAAAd/awkward-dog.gif" alt="notfound meme" />
</div>

